<!DOCTYPE html>
<html>

<head>
    <title>Tic Tac Toe - Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Register</h1>
    {% if error_message %}
    <p class="error_message">{{ error_message }}</p>
    {% endif %}
    <form method="POST" act ion="{{ url_for('register') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
</body>

</html>